
#inscrire
{
	visibility:hidden;
}
@media screen and (max-width: 1360px)
{
	.navbar-form
	{
		display:none;
	}
	
}
@media screen and (max-width: 828px)
{
	#inscrire
	{
		visibility:visible;
	}
	.navbar-brand
	{
		
		width:100px;
	}
}
video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
}